<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h3 class="mb-5">Register</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" formControlName="username">
              <div
                *ngIf="registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)"
                class="invalid-feedback">
                <div *ngIf="registerForm.controls.username.errors?.['required']">
                  <p>Username is required.</p>
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
              <div
                *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)"
                class="invalid-feedback">
                <div *ngIf="registerForm.controls.email.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="registerForm.controls.email.errors?.['email']">
                  Please enter a valid email address.
                </div>
              </div>
            </div>
            <div class="form-group mb-2">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <div
                *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)"
                class="invalid-feedback">
                <div *ngIf="registerForm.controls.password.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="registerForm.controls.password.errors?.['minlength']">
                  Password must be at least 8 characters long.
                </div>
              </div>
            </div>
            <div
              *ngIf="showMessage && (!registerForm.controls.username.dirty && !registerForm.controls.password.dirty && !registerForm.controls.email.dirty)">
              <p class="invalid-feedback">{{serverMessage}}</p>
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
            </div>
          </form>
          <div class="mt-4">
            <span>Already have an account?</span><a routerLink="/login"> Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

