<div class="container-fluid">
  <div class="row position-relative">
    <div class="col-md-3 fixed-column">
      <h3 class="d-flex justify-content-center">Filters</h3>
      <app-search-task (search)="onSearch($event)"></app-search-task>
    </div>
    <div class="col-md-9">
      <div class="tasks-container mt-2">
        <div *ngIf="(tasks | async)?.length; else noTasks">
          <table class="table">
            <thead>
            <tr class="thead-row">
              <th scope="col">Subject</th>
              <th scope="col">Due Date</th>
              <th scope="col">Status</th>
              <th scope="col">AssignedTo</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-row" *ngFor="let task of tasks | async" [routerLink]="['/tasks',task.id]">
              <td>{{ task.subject }}</td>
              <td>{{ task.dueDate}}</td>
              <td>{{ task.status }}</td>
              <td>{{task.assignedTo.username}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #noTasks>
        <p>There are no tasks.</p>
      </ng-template>
    </div>
  </div>
</div>
