<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <style>
        table {
            background-color: antiquewhite;
        }

        th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body style="text-align: center">
<h3>${title}</h3>
<br><br>
<table style="width: 60%">
    <tr>
        <th>Subject:</th>
        <td>${subject}</td>
    </tr>
    <tr>
        <th>Due Date:</th>
        <td>${dueDate}</td>
    </tr>
    <tr>
        <th>Status:</th>
        <td>${status}</td>
    </tr>
    <tr>
        <th>Assigned To:</th>
        <td>${assignedTo}</td>
    </tr>
</table>
</body>
</html>